.color-box {
    $box-size: 200px;

    width: $box-size;
    height: $box-size;
    display: inline-block;
    margin: auto;
    margin-top: 20px;

    cursor: pointer;
    transition: all 0.3s linear;
}
